table {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
  }
  
  .namecolumn {
    width: 20%;
  }
  
  .statcolumn {
    width: 8%;
  }
  
  th {
    text-align: left;
    padding: 15px;
  }
  
  tr:hover {
    background-color: rgb(218, 218, 218);
  }
  .playerImage {
    width: 130px;
    height: 95px;
  }