<body>
  <app-banner h1="CREATE" h2="NEW" h3="TEAM"></app-banner>
  <br>

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Enter your team name</ng-template>

      <div class="teamInputArea">

        <mat-form-field class="createTeam-full-width" appearance="fill">
          <mat-label><i>ENTER YOUR TEAM'S NAME</i></mat-label>
          <input matInput type="text" [(ngModel)]="value">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" (click)="onSubmit()">CREATE TEAM</button>
        <br>

      </div>





  <mat-step [stepControl]="secondFormGroup" label="Add players">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Add Players</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Lebron James"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
