<body>
  <app-banner h1="CREATE" h2="NEW" h3="TEAM"></app-banner>
  <br>

<!---->
<!--Stepper 1 Create Team-->


<div class="teamInputArea">
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <mat-form-field class="createTeam-full-width" appearance="fill">
        <ng-template matStepLabel>Enter your team name</ng-template>
          <mat-label><i>Enter your teams name</i></mat-label>
          <input matInput type="text" [(ngModel)]="value">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          </button>
        </mat-form-field>
      <br>
        <button mat-raised-button color="primary" (click)="onSubmit()">CREATE TEAM</button>
      <br>
      <br>
        <button mat-raised-button color="primary" matStepperNext>NEXT</button>
      <br>

<!--Stepper 2 Add players-->
  <mat-step [stepControl]="secondFormGroup" label="Add players">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Add Players</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Lebron James"
               required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>NEXT</button>
      </div>
    </form>
  </mat-step>

  <!--Stepper 3 View Team-->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Team Created</p>
    <div>
      <button mat-raised-button color="primary" routerLink="/create-team">View Teams</button>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>



