
.headerBox {
  padding: 20px;
  background: #000000;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: left;
  line-height: 1.5em;
  
}

/* #headerNBA {
  text-align: left;
  line-height: 1.5em;
} */

