.headerBox {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0.5px;
  padding-top: 2vh;
  background: #000000;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  line-height: 1.5em;
}


h1 {
  text-shadow: 2px 2px red;
  padding: 0px;
  margin: 0px;
  font-size: 50px;
  line-height: 1em;
}

h5 {
  text-align: right;
  line-height: .9em;
  font-weight: 130;
  text-shadow: 2px 2px red;
  font-size: 40px;
}

@media screen and (max-width:900px) {
h5 {
  text-align: right;
  line-height: .9em;
  font-weight: 130;
  text-shadow: 2px 2px red;
  font-size: 20px;
}
h1{
  font-size:30px;
}
}
