<body>
    <div class="heading-container">
        <h1><b><i>DOD&GY</i></b></h1><br>
        <h2><b>NBA PREDICTIONS</b></h2>
    </div>
    <br>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-img">
                <mat-icon> format_list_numbered</mat-icon>
            </div>
            <h3>VIEW ALL PLAYER STATS</h3>
        </div>
        <div class="feature">
            <div class="feature-img">
                <mat-icon>group_add</mat-icon>
            </div>
            <h3>CREATE YOUR OWN TEAMS</h3>
        </div>
        <div class="feature">
            <div class="feature-img">
                <mat-icon>compare_arrows</mat-icon>
            </div>
            <h3>COMPARE TEAM WIN RATES</h3>
        </div>
    </div>
    <div class="login-container">
        <button mat-raised-button color="primary" (click)="auth.loginWithRedirect()">Login/Sign-up</button>
    </div>
    <div class="logo-container">
        <img src="../../../assets/LOGO.ico" class="logo">
    </div>
</body>