<body>
    <div class="logo-container">
        <img src="../../favicon.ico" class="logo">
    </div>
    <div class="login-container">
        <button mat-raised-button color="primary" (click)="auth.loginWithRedirect()">Login/Sign-up</button>
    </div>
    <h1>Features</h1>
    <div class="feature-container">
        <div class="feature">
            <div class="feature-img">
                <mat-icon> format_list_numbered</mat-icon>
            </div>
            <h2>View all player stats</h2>
        </div>
        <div class="feature">
            <div class="feature-img">
                <mat-icon>group_add</mat-icon>
            </div>
            <h2>Create your own teams</h2>
        </div>
        <div class="feature">
            <div class="feature-img">
                <mat-icon>compare_arrows</mat-icon>
            </div>
            <h2>Compare team win rates</h2>
        </div>
    </div>
</body>