<body>
  <app-banner h1="VIEW" h2="ALL" h3="TEAMS"></app-banner><br>

  <div *ngIf="!teamsLoaded">Fetching teams...
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>

  <mat-tab-group *ngIf="teamsLoaded">
    <!-- View user's team -->
    <mat-tab label="My Teams">
      <table>
        <tr>
          <th>Team Name</th>
          <th>Creation Date</th>
          <th>Functions</th>
        </tr>
        <tr *ngFor="let team of localTeams">
          <td>
            <mat-list-item>{{team.teamName}}</mat-list-item>
          </td>
          <td style="text-align: center;">
            <mat-list-item>{{team.dateMade | date: 'dd/MM/yyyy'}}</mat-list-item>
          </td>
          <td style="text-align: center;">
            <mat-icon (click)="onViewTeam(team.teamID)">info</mat-icon>
            <mat-icon (click)="editTeam(team.teamID)">edit</mat-icon>
            <mat-icon (click)="confirmDialog(team.teamID)">delete</mat-icon>
          </td>
        </tr>
      </table>
    </mat-tab>
    <!-- View other user's teams -->
    <mat-tab label="Other Teams"> 
      <table>
        <tr>
          <th>Team Name</th>
          <th>Creation Date</th>
          <th>Functions</th>
        </tr>
        <tr *ngFor="let team of teams">
          <td>
            <mat-list-item>{{team.teamName}}</mat-list-item>
          </td>
          <td style="text-align: center;">
            <mat-list-item>{{team.dateMade | date: 'dd/MM/yyyy'}}</mat-list-item>
          </td>
          <!-- icon buttons -->
          <td style="text-align: center;">
            <mat-icon (click)="onViewTeam(team.teamID)">info</mat-icon>
            <!-- <mat-icon (click)="editTeam(team.teamID)">edit</mat-icon> -->
            <!-- <mat-icon (click)="confirmDialog(team.teamID)">delete</mat-icon> -->
          </td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</body>