.teamInputArea {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.teamNames {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    align-self: center;
}

table {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    justify-content: center;
  }
td, th {
    font-weight: bold;
    font-size:larger!important;
  }

tr {
    line-height: 70px;
}

.table {
    justify-content: center;
}
.buttonContainer button {
    margin-right: 5px;
    
}
.mat-icon:hover{
    color: grey;
    cursor: pointer;
  }
