.teamsContainer {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teamSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    font-size: 15px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 550;
    text-align: center;
    margin: 0px;
    padding-left: 50px;
}
h3 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}

.teamSelect div button {
    margin: 0 auto;
    display: block;
}

.progSpinner {
    display: flex;
    justify-content: center;
}
.mat-icon:hover {
    color: grey;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    h2 {
        font-family: 'Courier New', Courier, monospace;
        font-size: calc(26px + 4vw);
        font-weight: 550;
        text-align: center;
    }

    .teamsContainer {
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
        display: inline;
        justify-content: center;
    }

    .teamSelect {
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
        font-size: 15px;

    }
}