<body>
    <app-banner h1="COMPARE" h2="TWO" h3="TEAMS"></app-banner>

    <div class="teamsContainer">

        <div class="teamSelect">
            <mat-form-field appearance="fill">
                <mat-label>Teams</mat-label>
                <mat-select [(value)]="teamAId">
                    <mat-option *ngFor="let team of teams" [value]="team.teamID">
                        {{team.teamName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h2>{{winRate | number : '1.2-2'}}%</h2>
            <app-player-table [displayCheckbox]="false" [itemsPerPage]=[10,20,50,100]></app-player-table>
        </div>
        
        <div class="teamSelect">
            <mat-form-field appearance="fill">
                <mat-label>Teams</mat-label>
                <mat-select [(value)]="teamBId">
                    <mat-option *ngFor="let team of teams" [value]="team.teamID">
                        {{team.teamName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h2>{{100 - winRate | number : '1.2-2'}}%</h2>
            <app-player-table [displayCheckbox]="false" [itemsPerPage]=[10,20,50,100]></app-player-table>
        </div>

    </div>

    <div class="buttonContainer">
        <button mat-raised-button color="primary" (click)="onCompare()">Compare</button>
        <!-- <div class="generating-status">
        <p>Generating</p>
        <mat-spinner [diameter]="20"></mat-spinner>
    </div> -->
    </div>
    <br>
    <div class="progSpinner">
        <mat-progress-spinner [diameter]=20 *ngIf="!generated" mode="indeterminate"></mat-progress-spinner>
    </div>
</body>