h1 {
    font-size: 70px;
}

.team-table {
    width: 100%;
    margin-right: auto;
    /* margin-left: auto; */
    border-collapse: collapse;
    font-size: 20px;
}
.team-table tr {
    height: 30px;
}

th {
    text-align: left;
    background-color: rgb(62, 62, 62);
    color: white;
    font-weight: normal;
    font-style: italic;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }
tr:hover {
    background-color: rgb(218, 218, 218);
  }

.select:hover {
    color: rgb(49, 213, 49);
    cursor: pointer;
    box-shadow: 3px 3px 3px #a9a9a9;
    border-radius: 3px;
}