<body>

  <app-banner h1="CREATE" h2="YOUR OWN" h3="TEAM"></app-banner><br>

  <div class="teamInputArea">

    <mat-form-field class="createTeam-full-width" appearance="fill">
      <mat-label><i>ENTER YOUR TEAM'S NAME</i></mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" (click)="onSubmit()">CREATE TEAM</button>
    <br>

  </div>

  <!-- <div class="table">
    <table class="teamNames">
      <th>
        <tr *ngFor="let team of teams">{{team.teamName}}</tr>
      </th>
    </table>
  </div> -->

  <mat-accordion>
    <mat-expansion-panel *ngFor="let team of teams">
      <mat-expansion-panel-header>{{team.teamName}}</mat-expansion-panel-header>
      <p *ngFor="let player of team.players">{{player.playerName}}</p>
      <div class="buttonContainer">
        <button mat-raised-button color="primary" (click)="editTeam(team.teamID)">Edit</button>
        <button mat-raised-button color="primary" (click)="confirmDialog(team.teamID)">Delete Team</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</body>





<!-- <div class="teamInputArea"> -->
<!-- <form class="createTeam-form">
    <mat-form-field class="createTeam-full-width" appearance="fill">
      <mat-label><i>ENTER YOUR TEAM'S NAME</i></mat-label>
      <input matInput placeholder="Eg. East Beasts" value="">
    </mat-form-field> -->
<!-- </div> -->
