table {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
}

.namecolumn {
  width: 20%;
}

.statcolumn {
  width: 8%;
}

th {
  text-align: left;
  padding: 15px;
}

tr:hover {
  background-color: rgb(218, 218, 218);
}

.table-players {
  /* padding: 15px; */
}
.container {
  
}
.team-name {
  display: flex;
  align-items: center;
  float: left;
}
.team-name h1 {
  font-weight: bold;
  padding-right: 5px;
  margin: 0px;
}
/* .team-name ::ng-deep .mat- */
/* .saving-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffffff;
} */
.button-container-outer {
  float: right;
}

.playerimg {
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container>* {
  margin-right: 5px;
  height: 38px;
}

.save-button div {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.save-button p {
  margin: 0px;
  padding: 0px;
}

.save-button {
  min-width: unset !important;
}

.saving-status ::ng-deep .mat-progress-spinner {
  margin-left: 5px;
}

.saving-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffffff;
}

@media screen and (max-width:900px) {
  .buttonContainer button {
    font-size: 11px;
  }
  .team-name h1 {
    margin-bottom: 15px;
  }
}